body {
    font-family: Inter, sans-serif;
    background-color: #2f2f2f;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}
button {
    padding: 10px 20px;
    background-color: #646cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #535bf2;
}
